<div class="mx-4 md:mx-0">
<h1 class="font-trap mt-14 text-4xl mb-2">Visitor Log</h1>

<% unless @lastSketch.nil? %>
<section class="flex justify-center w-full">
  <div class="flex flex-col relative items-center w-full max-w-md p-8 h-96 border-2 shadow-md">
   <% if @lastSketch.image.attached? %>
    <%= image_tag @lastSketch.image, class: 'h-full' %>
  <% end %>
  <div class="flex justify-between w-full mx-2">
    <h2>Most Recent Sketch</h2>
    <p class="font-trap font-black text-xl">
      <%= @lastSketch.artist %>
    </p>
  </div>
  </div>
</section>
<% end %>

<h2 class="font-trap text-xl font-black mt-4" >Crowd Favorites</h2>
<p class="ml-2 mb-4 italic">(Click to Upvote)</p>

<div id="sketches" class="flex flex-wrap space-x-4">
  <% @sketches.each_with_index do |sketch, index| %>
    <div id="<%= dom_id sketch %>" class="relative upvote self-start" onClick="upvote(<%= sketch.id %>)" 
          upvotes="<%= sketch.upvotes %>" head='<%=(admin_signed_in?) | (index == 0) %>'>
    <%= render sketch %>
    <% if admin_signed_in? %>
    <p>
      <%= link_to "Show this sketch", sketch %>
    </p>
    <% end %>
    </div>
  <% end %>
</div>
<% if admin_signed_in? %>
<%= link_to "New sketch", new_sketch_path %>
<% end %>

</div>
