<p style="color: green"><%= notice %></p>

<h2>Most Recent Sketch</h2>
 <%# <%= render %> %>
<h2>Crowd Favorites</h2>

<div id="sketches">
  <% @sketches.each do |sketch| %>
    <%= render sketch %>
    <p>
      <%= link_to "Show this sketch", sketch %>
    </p>
  <% end %>
</div>

<%= link_to "New sketch", new_sketch_path %>
