<section id="project-navigation" class="flex flex-col items-center opacity-0 md:self-end md:mb-12">
      <a href="https://jdegrootlutzner.com/cloud/" >
        <p class="project-nav-direction">
      Previous Project:
      </p>
    <div class="flex flex-row md:flex-col">
      <div class="project-nav-box">
        <div class="flex flex-col space-y-3 mb-3 mt-10">
            <%= image_tag 'spiral.png', class: 'w-8' %>
            <%= image_tag 'spiral.png', class: 'w-8' %>
            <%= image_tag 'spiral.png', class: 'w-8' %>
            <%= image_tag 'spiral.png', class: 'w-8' %>
        </div>
        <div class=" ml-4 w-full mr-2">
            <p class="project-nav-title" id="preview-title">
            Cloud Under the Sea
          </p>
          <p class="project-nav-summary">• <span id="preview-summary">Painting exploring the implications of a cloud storage center deployed under the sea.</span></p> 
          <p class="project-nav-details" id="preview-details">Acrylic paint on canvas.</p>
      </div>
    </div>
    </div>
  </a>
  <a href="https://jdegrootlutzner.com/pentridge/" >
    <p class="project-nav-direction mt-6">
    Next Project:
    </p>
    <div class="flex flex-row md:flex-col">
    <div class="project-nav-box">
      <div class="flex flex-col space-y-3 mb-3 mt-10">
        <%= image_tag 'spiral.png', class: 'w-8' %>
        <%= image_tag 'spiral.png', class: 'w-8' %>
        <%= image_tag 'spiral.png', class: 'w-8' %>
        <%= image_tag 'spiral.png', class: 'w-8' %>
      </div>
      <div class=" ml-4 w-full mr-2">
          <p class="project-nav-title" id="preview-title">
            pentridgestation.com
          </p>
          <p class="project-nav-summary">• <span id="preview-summary">Rebranded beer garden as a professional private event space with a bespoke website.</span></p> 
          <p class="project-nav-details" id="preview-details">Custom CMS using Ruby on Rails, HTML/Tailwind, Vanilla JS, SendGrid, AWS, Digital Ocean, Mapbox API, Github, Figma</p>
      </div>
      </div>
    </div>
  </a>
  <div class="w-72 flex md:hidden my-10 font-trap justify-between mx-7  ">
    <a href="https://jdegrootlutzner.com/#about"><p>About</p> </a>
    <a href="https://jdegrootlutzner.com/#projects"><p>Projects</p> </a>
    <a href="https://jdegrootlutzner.com/#contact"><p>Contact</p> </a>
 </div>

</section>