<!DOCTYPE html>
<html>
  <head>
    <title>Julian DeGroot-Lutzner - Visitor Log</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <script defer data-domain="jdegrootlutzner.herokuapp.com" src="https://plausible.io/js/plausible.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="relative overflow-x-hidden" >
  <p style="color: green"><%= notice %></p>
    <div class=" flex flex-col md:flex-row w-full overflow-visible">
      <%= render 'layouts/nav' %>

      <div class="md:w-4/5">
        <%= yield %>
        <div class="flex flex-col lg:flex-row mt-32">
        <%= render 'layouts/article' %>
        <%= render 'layouts/projectNavigation' %>
        </div>
      </div>
    </div> 

    <script>
      const projectNavigation = document.getElementById('project-navigation');
      const observer = new IntersectionObserver(
        function(entries, observer){
            entries.forEach(entry => {
              if(!entry.isIntersecting){
                return;
              }
              entry.target.classList.toggle('animate-opacity');
           
            observer.unobserve(entry.target);
          })
      });
      observer.observe(projectNavigation);
      function fetchUpvote(id) {
         fetch(`https://jdegrootlutzner.herokuapp.com/upvote?id=${id}`, {
        method: 'POST',
        })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result);
        })
        .catch(error => {
          console.error('Error:', error);
        });
        }
      
      function upvote(id){
       fetchUpvote(id);
       var e = document.getElementById(`sketch_${id}`);
       e.removeAttribute('onClick');
       e.classList.remove('upvote');
      }
      function removeSkeleton(element){
        element.classList.remove('sketch');

      }
    </script>
    
  </body>
</html>
